<div>
  <h1>The Album</h1>
  {% for entry in entries %}
    <div class="entry {% if entry.bookmarked %}gold-border{% endif %}">
      <p>{{ entry.playerId }} answered: {{ entry.answerText }}</p>
    </div>
  {% endfor %}
</div>
